In [2]:
import pandas as pd
import inflection
import pygwalker as pyg
import seaborn as sns

In [3]:
df = pd.read_csv('C:/Users/miche/Documents/DC/Comunidade DS/PA01/zomato.csv')

In [ ]:
sns.pairplot(df)

In [11]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

=== Análise Exploratória ===

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['coluna'].fillna(valor, inplace=True)

In [ ]:
df.nunique()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.loc[0, :]

In [ ]:
df.dtypes

=== Tratamento de Dados ===

In [3]:
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

df = rename_columns(df)

In [4]:
COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}
def country_name(country_id):
    return COUNTRIES[country_id]

df['country_code'] = df['country_code'].apply(country_name)

In [5]:
def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

df['price_range'] = df['price_range'].apply(create_price_tye)

In [6]:
COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}
def color_name(color_code):
    return COLORS[color_code]

df['rating_color'] = df['rating_color'].apply(color_name)

In [7]:
df["cuisines"] = df["cuisines"].apply(lambda x: str(x).split(",")[0] if pd.notna(x) else "")

In [8]:
df = df[df["cuisines"] != ""]

In [10]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes'],
      dtype='object')

In [22]:
df['restaurant_id'][df['has_online_delivery'] == 1].count()

2653

In [12]:
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,expensive,4.6,darkgreen,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,expensive,4.6,darkgreen,Excellent,619
2,6314542,Blackbird,Philippines,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,...,Botswana Pula(P),0,0,0,0,gourmet,4.7,darkgreen,Excellent,469
3,6301293,Banapple,Philippines,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,Filipino,...,Botswana Pula(P),0,0,0,0,expensive,4.4,green,Very Good,867
4,6315689,Bad Bird,Philippines,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,expensive,4.4,green,Very Good,858

=== GERAL ===

1. Quantos restaurantes únicos estão registrados?

In [ ]:
df['restaurant_id'].nunique()

2. Quantos países únicos estão registrados?

In [ ]:
df['country_code'].nunique()

3. Quantas cidades únicas estão registradas?

In [ ]:
df['city'].nunique()

4. Qual o total de avaliações feitas?

In [ ]:
df['aggregate_rating'].count()

5. Qual o total de tipos de culinária registrados?

In [ ]:
df['cuisines'].nunique()

=== PAÍS ===

1. Qual o nome do país que possui mais cidades registradas?

In [ ]:
df1 = df.groupby('country_code')['city'].nunique()
df1.sort_values(ascending=False).head()

2. Qual o nome do país que possui mais restaurantes registrados?

In [ ]:
df1 = df.groupby('country_code')['restaurant_id'].nunique()
df1.sort_values(ascending=False).head()

3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [ ]:
df = df[df['price_range'] == 'gourmet']
df1 = df.groupby('country_code')['restaurant_id'].nunique()
df1.sort_values(ascending=False).head()

4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [ ]:
df1 = df.groupby('country_code')['cuisines'].nunique()
df1.sort_values(ascending=False).head()

5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [ ]:
df1 = df.groupby('country_code')['aggregate_rating'].count()
df1.sort_values(ascending=False).head()

6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [ ]:
df = df[df['is_delivering_now'] == 1]
df1 = df.groupby('country_code')['restaurant_id'].nunique()
df1.sort_values(ascending=False).head()

7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [ ]:
df_aux = df[df['has_table_booking'] == 1]
df1 = df_aux.groupby('country_code')['restaurant_id'].nunique()
df1.sort_values(ascending=False).head()

8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [ ]:
df1 = df.groupby('country_code')['aggregate_rating'].mean()
df1.sort_values(ascending=False).head()

9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [ ]:
df1 = df.groupby('country_code')['aggregate_rating'].mean()
df1.sort_values(ascending=False).head(1)

10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [ ]:
df1 = df.groupby('country_code')['aggregate_rating'].mean()
df1.sort_values(ascending=True).head(1)

11. Qual a média de preço de um prato para dois por país?

In [ ]:
df1 = df.groupby('country_code')['average_cost_for_two'].mean()
df1.sort_values(ascending=False).head()

=== Cidade ===

1. Qual o nome da cidade que possui mais restaurantes registrados?

In [ ]:
df1 = df.groupby('city')['restaurant_id'].nunique()
df1.sort_values(ascending=False).head(5)

2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [ ]:
df1 = df[df['aggregate_rating'] >= 4]
df1 = df1.groupby(['city', 'country_code'])['restaurant_id'].nunique()
df1.sort_values(ascending=False).head(5)

3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [ ]:
df1 = df[df['aggregate_rating'] <= 2.5]
df1 = df1.groupby(['city', 'country_code'])['restaurant_id'].nunique()
df1.sort_values(ascending=False).head(5)

4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [ ]:
df1 = df.groupby(['city', 'country_code'])['average_cost_for_two'].max()
df1.sort_values(ascending=False).head(5)

5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [ ]:
df1 = df.groupby(['city', 'country_code'])['cuisines'].nunique()
df1.sort_values(ascending=False).head(5)

6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [ ]:
df1 = df[df['has_table_booking'] == 1]
df1 = df1.groupby(['city', 'country_code'])['restaurant_id'].nunique()
df1.sort_values(ascending=False).head(5)

7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [ ]:
df1 = df[df['is_delivering_now'] == 1]
df1 = df1.groupby(['city', 'country_code'])['restaurant_id'].nunique()
df1.sort_values(ascending=False).head(5)

8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [ ]:
df1 = df[df['has_online_delivery'] == 1]
df1 = df1.groupby(['city', 'country_code'])['restaurant_id'].nunique()
df1.sort_values(ascending=False).head(5)

=== Restaurantes ===

1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [ ]:
df1 = df.groupby(['restaurant_name', 'country_code'])['aggregate_rating'].count()
df1.sort_values(ascending=False).head(5)

2. Qual o nome do restaurante com a maior nota média?

In [ ]:
df1 = df.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)

3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [ ]:
df1 = df.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['average_cost_for_two'].max().reset_index()
df1.sort_values(['average_cost_for_two', 'restaurant_id'], ascending=[False, True]).head(5)

4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Brazilian') & (df['aggregate_rating'] > 0.0)]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].min().reset_index()
df1.sort_values(['aggregate_rating'], ascending=[True]).head(5)

5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Brazilian') & (df['country_code'] == 'Brazil')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating'], ascending=False).head(5)

6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [ ]:
df1 = df[df['has_online_delivery'] == 1]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(10)

In [ ]:
df1 = df.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(10)

7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [ ]:
df1 = df[df['has_table_booking'] == 1]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['average_cost_for_two'].max().reset_index()
df1.sort_values(['average_cost_for_two', 'restaurant_id'], ascending=[False, True]).head(10)

In [ ]:
df1 = df.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['average_cost_for_two'].max().reset_index()
df1.sort_values(['average_cost_for_two', 'restaurant_id'], ascending=[False, True]).head(10)

8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [ ]:
df1 = df[(df['cuisines'] == 'Japanese') & (df['country_code'] == 'United States of America')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['average_cost_for_two'].max().reset_index()
df1.sort_values(['average_cost_for_two'], ascending=False).head(5)

In [ ]:
df1 = df[(df['cuisines'] == 'BBQ') & (df['country_code'] == 'United States of America')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['average_cost_for_two'].max().reset_index()
df1.sort_values(['average_cost_for_two'], ascending=False).head(5)

=== Tipos de Culinária ===

1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Italian')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)

2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Italian') & (df['aggregate_rating'] > 0.0)]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].min().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).head(5)

3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'American')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)

4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'American') & (df['aggregate_rating'] > 0.0)]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].min().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).head(5)

5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Arabian')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)

6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Arabian') & (df['aggregate_rating'] > 0.0)]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].min().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).head(5)

7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Japanese')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)

8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Japanese') & (df['aggregate_rating'] > 0.0)]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].min().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).head(5)

9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Finger Food')]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)

10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df1 = df[(df['cuisines'] == 'Finger Food') & (df['aggregate_rating'] > 0.0)]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id'])['aggregate_rating'].min().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).head(5)

11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [ ]:
df1 = df.groupby(['restaurant_name', 'country_code', 'restaurant_id', 'cuisines'])['average_cost_for_two'].max().reset_index()
df1.sort_values(['average_cost_for_two', 'restaurant_id'], ascending=[False, True]).head(5)

12. Qual o tipo de culinária que possui a maior nota média?

In [ ]:
df1 = df.groupby(['restaurant_name', 'country_code', 'restaurant_id', 'cuisines'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)

13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [ ]:
df1 = df[(df['has_online_delivery'] == 1) & (df['is_delivering_now'] == 1)]
df1 = df1.groupby(['restaurant_name', 'country_code', 'restaurant_id', 'cuisines'])['aggregate_rating'].max().reset_index()
df1.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).head(5)